@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
        margin: 3rem;
        display: grid;
        /*grid-template-rows: auto 80% auto;*/
}


main {
    display: grid;
    max-height: 900px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "content1 main main sidebar"
        "content2 main main sidebar"
        "content3 content4 content4 sidebar" ;
    grid-gap: .4rem;
    margin-top: .4rem;
    margin-bottom: .4rem;
      

}

header {

    display: grid;
    justify-content: center;
    background-color: #FFECD1;
    border-bottom: solid 5px #FFA047;
    padding: 3em;
  
}

.headerlogo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*------------- Footer ------------*/

.map {
    text-decoration: none;
    color:#6b8e67;
}
.footer-info p {
    margin: 5px;
}


footer {
    color: black;
    background-color:#FFECD1;
    text-align: center;
    padding: 1em;
    border-bottom: solid 5px #FFA047;

}

/*------------- Navigation------------*/

nav {
    font-size: 20px;
    width: 100%;
    margin: 0 auto;
    background-color: #6b8e67;
    text-align: center;
    
}

nav button {
    background-color: transparent;
    border: none;
    font-size: 40px;
    color: white;
   
}

nav ul {
    margin: 0;
    padding: 0;
}
nav ul li a {
    display: block;
    text-decoration: none;
    color:white;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px;
}

nav li a:hover {
    transition: 0.7s ease;
}

nav li a:hover {
    color:#FFA047;
}

nav ul.hide {
    display: none;
}


/*----------Social Media Links-----------*/

.social-facebook, .social-instagram {
    padding-bottom: 10px;
}

.social-facebook a, .social-instagram a {
    color:white;
    font-size: 2rem;
    
}

.social-facebook a:hover, .social-instagram a:hover {
    transition: 0.7s ease;
    color:#FFA047;
}

/*------------Images ---------------*/

.valley-of-fire {

  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*nav {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 1.5em 0 1.5em 0;
    background-color: #6b8e67;
    
} 

nav button {
    display: none;
}

nav li a {
    text-decoration: none;
    color:white;
    font-size: 1.3em;
}


/*nav {
    font-size: 20px;
    width: 100%;
    margin: 0 auto;
    background-color: #6b8e67;
    text-align: center;
    
}*/

/*nav button {
    background-color: transparent;
    border: none;
    font-size: 40px;
    color: white;
   
}*/

/*nav ul li a {
    display: block;
    text-decoration: none;
    color:white;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px;*/

/*nav li a:hover {
    transition: 0.7s ease;
}

nav li a:hover {
    color:#FFA047;
}

nav ul.hide {
    display: none;
}
*/

/*----------Main Section--------*/
#main {
    background: lightgrey;
    grid-area: main;
    position: relative;
}

.mainheader {
    position: absolute;
    color: white;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainbutton {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #6b8e67;
    border-radius: 25px;
    padding: .5rem 2rem .5rem 2rem;
    border:solid white;
}

 .mainbutton a {
    color: white;
    font-size: 2rem;
    text-decoration: none;;
 }

 .mainbutton a:hover {
    transition: 0.7s ease;
    color:#FFA047;
 }

/*---------Sidebar Section ---------*/
#sidebar{
    
    background: #FFECD1;
    padding: .5rem .5rem .5rem .5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "box1"
    "box2"
    "box3";
    grid-area: sidebar;
    max-width: 100%
    
}

.box1, .box2, .box3 {

    background-color: #d6c8bb;
    margin-bottom: 5px;

}

.box1header {
    font-size: 1.5rem;
    /*border-bottom: solid 3px #FFA047;*/
    text-align: center;
    margin-right: 3rem;
    margin-left: 3rem;
    color: black;
    text-align: center;
    font-family: 'Lobster Two', cursive;
    margin-bottom:0;
}

.mealicon {
   
    font-size: 5rem;
    text-align: center;
    margin-top:0;
    margin-bottom: 0;
    
}

.box1text {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    margin: 0 1rem 5px 1rem;

}

hr {
    width: 70%;
    height: 2px;
    background-color: gray;
    border: none;
    margin-top: 0;
}
/*---------Content 1 Section -----------*/

#content1{
    background: #FFECD1;
    grid-area: content1;
    /*margin-top: .4rem;*/
    text-align: center;
    width: 100;
}

.content1header {
    font-size: 2rem;
    border-bottom: solid 3px #FFA047;
    color: black;
    margin: 1rem 3rem 0 3rem;
    font-family: 'Roboto Condensed', sans-serif;
}

.content1text {
   max-width: 80%;
   margin: 0 auto;
}

.content1header2 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.content1header2, .content1text p {

    font-family: 'Roboto Condensed', sans-serif;
}
/*---------Content 2 Section -----------*/
#content2{
    background: #FFECD1;
    grid-area: content2;
    text-align: center;
}

/*---------Content 3 Section -----------*/
#content3{
    background: #FFECD1;
    grid-area: content3;
    /*margin-bottom: .4rem;*/
    /*padding-top: 50px;
    padding-bottom: 50px;*/
    text-align: center;
}

.content3button {
    background-color: #6b8e67;
    border-radius: 25px;
    width: 80%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border:solid white;
    margin-top: 3rem;
}

.content3button a {
    color: white;
    font-size: 2rem;
    text-decoration: none;;
 }

 .content3button a:hover {
    transition: 0.7s ease;
    color:#FFA047;
 }


.content3text {
    max-width: 60%;
    margin: 0 auto;
}

.content3text p {
    font-family: 'Roboto Condensed', sans-serif;
}
/*---------Content 4 Section -----------*/


#content4 {
    display: grid;
    grid-area: content4;
    background: #FFECD1;  
}

/*.grandma {
    max-width: 80%;
    height: auto;
    object-fit: cover;
}*/

.content4text {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 1rem;
}

.content4header {

    font-size: 2rem;
    border-bottom: solid 3px #FFA047;
    color: black;
    margin: 1rem 3rem 0 3rem;
    font-family: 'Roboto Condensed', sans-serif;
}

/*---------------------------*/

.content1header, .content2header, .content3header, .content4header, .sidebarheader, .mainheader {

    /*color: black;*/
    /*font-family: 'Lobster Two', cursive;*/
}

li {
    list-style-type: none;
}

/*section.contact {
    display: grid;
    position: relative;
    max-width: 100%;
    grid-template-columns: 50% auto;
    padding: 1rem;
    background-color: #6b8e67;
}
section.contact iframe {

    width: 90%;
    height: 200px;
    grid-column: 1;
    grid-row: span 3;
}

.text {

    color: white;
    padding-left: 0;

}

div.social {

    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2,35px);
    max-width: 100%;
} 

.bulk {
    border: solid white;
    height: 200px;
    padding-left: 1rem;
}

img.grandma {
    width: 50%;
    max-height: 250px;
    float: right;
    padding: 1rem;

}

.resident {
    color: black;
    font-weight: bold;
    text-align: center;
    font-family: 'Lobster Two', cursive;

}

p {
    color: black;
    text-align: center;
    padding-left: .5rem;
  
}

.forecast {
    display: flex;
    margin: 0 auto;
    flex-flow: column;
    width: auto;
    text-align: center;
    
}

.forecast h4 {
    padding: 0.2rem;
    padding-left: 0;
    margin: 0;
    background-color:#6b8e67;
    color: white;
}

.sunbox {
 
    display: block;
    width: auto;
    max-height: 55px;
    background-color: white;
    padding-top: .5rem;
    padding-bottom: .5rem;

}

.sunpic{
   
    max-width: 55px;
}

span.temp {
    display: block;
    background-color: white;

}

.five {
    text-align: center;
    color: black;
    font-family: 'Lobster Two', cursive;
   
}

.golfcourse {
    max-width: 100%;
    height: 100%;
    overflow: clip;
}

.activity {
    color: black;
    text-align: center;
    font-family: 'Lobster Two', cursive;
}

.pactivity {
    text-align: center;
}
*/
