@media (max-width: 1040px) {

    main {
    display: grid;
    height: 750px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
       "main main"
       "content1 content1"
       "sidebar sidebar"
       "content2 content2"
       "content3 content4";
    grid-gap: .4rem;
    }

    header {
    padding-left: 5em;
    padding-right: 5em;
    }

   

    #hamButton {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        width: fit-content;
        font-size: 1.5rem;
        padding: .5rem;
        color: #6b8e67;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        list-style: none;
        background-color: #6b8e67;
        margin-top:0;
        padding: 0;
    }
    .navigation li {
        display: none;
    }
    .navigation li a {
        padding: .5rem;
        display: block;
        text-align: center;
        text-decoration: none;
        color: #fff;
    }

    .navigation li a:hover {
    transition: 0.7s ease;
}

    .navigation li a:hover {
    color:#FFA047;
}

    /* when the button is clicked - the responsive class is added and accounted for here */
    .navigation.responsive li {
        display: block;
        width: 100%;
    }
    .navigation.responsive li a {
        display: block;
    }
    
    #main{
        background: lightgrey;
        grid-area: main;
        margin-top: .8rem;
    }
    
    #sidebar{
        background: lightgrey;
        grid-area: sidebar;
       /* margin-top: .4rem;
        margin-bottom: .4rem;*/
    }
    
    #content1{
        background: lightgrey;
        grid-area: content1;
       /* margin-top: .4rem;*/
    }
    
    #content2{
        background: lightgrey;
        grid-area: content2;
    }
    #content3{
        background: lightgrey;
        grid-area: content3;
        margin-bottom: .8rem;
        margin-top: .6rem;
        margin-right: .2rem;
    }
    
    #content4{
        background: lightgrey;
        grid-area: content4;
        margin-bottom: .8rem;
        margin-top: .6rem;
        margin-left: .2rem;
    }
    
}

