@media (max-width: 800px) {

    body {
        max-width: 900px;
    }
    main {
    display: grid;
    height: 700px;
    grid-gap: .4rem;
    }

    header {
    display: grid;
    grid-template-columns: 50% auto;
    padding-left: 5em;
    padding-right: 5em;
    }


    #hamButton {
        
        display: block;
        margin: auto;
        top: 10px;
        right: 10px;
        width: fit-content;
        font-size: 1.5rem;
        padding: .5rem;
        color: #6b8e67;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        list-style: none;
        background-color: #6b8e67;
        margin-top:0;
        padding: 0;
    }
    .navigation li {
        display: none;
    }
    .navigation li a {
        padding: .5rem;
        display: block;
        text-align: center;
        text-decoration: none;
        color: #fff;
    }

    .navigation li a:hover {
    transition: 0.7s ease;
}

    .navigation li a:hover {
    color:#FFA047;
}

    /* when the button is clicked - the responsive class is added and accounted for here */
    .navigation.responsive li {
        display: block;
        width: 100%;
    }
    .navigation.responsive li a {
        display: block;
    }
    
    #main{
        background: #FFECD1;
        grid-area: main;
       /* margin-top: .8rem; */
    }
    
    #sidebar{
        background: #FFECD1;
        grid-area: sidebar;
       /* margin-top: .4rem;
        margin-bottom: .4rem;*/
    }
    
    #content1{
        background: #FFECD1;
        grid-area: content1;
       /* margin-top: .4rem;*/
    }
    
    #content2{
        background: #FFECD1;
        grid-area: content2;
    }
    #content3{
        background: #FFECD1;
        grid-area: content3;
        /*margin-bottom: .8rem;
        margin-top: .6rem;
        margin-right: .2rem;*/
    }
    
    #content4{
        background: #FFECD1;
        grid-area: content4;
        grid-template-columns: 50% auto;
        /*margin-bottom: .8rem;
        margin-top: .6rem;
        margin-left: .2rem;*/
        height: 250px;
    }
    
    img.grandma {
     height: 220px;
    }

    p {
        font-size: 85%;
    }
}

.forecast {
   
   padding-right: 1rem;
   padding-left: 1rem;
}