@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

    a:link  { text-decoration: none;
    color: #666; }
    a:visited { text-decoration: none;
     color: #666; }
    a:hover { text-decoration: none;
     color: #00ddff; }
    a:active { text-decoration: none; 
     color: #DEB887;}

h1, h2, .post-date, ul {
    font-family: 'Lora', serif;
}

p {
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    height: 80px;
    border-bottom: solid;
    border-bottom-color: #d0d0d0;
    font-size: 275%;
    pointer-events: none;
}

h2 {
    text-align: left;
}

body {
    display: flex;
    list-style-position: inside;
    text-align: center;
}
 
ul {
    list-style-type: none;
    border-bottom: solid;
    border-bottom-color: #d0d0d0;
    text-decoration: none;
    text-transform: uppercase;
    }

li {
    margin-bottom: 20px;
} 

.post-date {

    text-transform: uppercase;
    border-bottom: solid;
    border-bottom-color: #d0d0d0;
    font-size: 150%;
    font-weight: bold;
    text-align: right;
    margin-right: 10px;
}

.post-content {
    text-align: center;
    border-left-color: #d0d0d0;
    border-bottom: solid;
    border-bottom-color:#d0d0d0;
    text-decoration: none;
}

@media (min-width: 641px) {


h2 {
    text-align: left;
    margin-left: 10px;
}

p {
    text-align: left;
    margin-left: 10px;
}
article {
    display: flex;
}
ul {
    height: 20px;
    column-count: 3;
    display: flex;
    column-gap: 15px;
    justify-content: right;
    padding-right: 10px;
}

li{
    padding-bottom: 10px;
}
.post-content{
    border-left: solid;
    width: 80%
}

.post-date{
    width: 20%
}

h2{
    text-align: center;
}

}

