body{
    display: flex;
    flex-flow: row wrap;
    list-style-position: inside;
    text-align: center;
}

body > * {
    padding: 10px;
    margin: 10px;
    flex: 1 100%
}

h1 {
    height: 80px;
    border-bottom: solid;
    border-bottom-color: #d0d0d0;
}

ul {
    list-style-type: none;
    border-bottom: solid;
    border-bottom-color: #d0d0d0;
    padding-bottom: 10px;
    height: 60px;
    }

.post-date {

    border-bottom: solid;
    border-bottom-color: #d0d0d0;
    padding-bottom: 10px;

}