
header{
    padding: 1em;
    display: grid;
    grid-template-columns: 80% 20%;
    background-color: #EE4E34;
}

header, img{
    width: 100%;
}

h1{
    align-self: center;
    font-size: 40px;
    color: #FCEDDA;
}

h2{
    font-size: 30px;
}

h1, footer{
    font-family: 'Courgette', cursive;

}

main, h2 {
    font-family: 'Libre Baskerville', serif;
   
}

footer{
    padding: 1em;
    display: grid;
    position: relative;
    color: #FCEDDA;
    background-color:#EE4E34;
    text-align: center;
    top: 73px;
}

header, main, footer, h1{
    margin: 1rem auto;
    max-width: 1000px;
}